
.App {
  text-align: center;
  margin: 20px auto 99.5px auto;
  width: 420px;
  background-color: #fafafa;
}

.photo-grid {
  overflow: scroll;
  overflow-x: hidden;
  width: 420px;
  height: 80vh;
}

.photo-content {
  max-height: 277px;
}

.loading-pulse {
  width: 420px;
  height: 277px;
  background-color: #fafafa;
}