
.App {
  text-align: center;
  margin: 20px auto 99.5px auto;
  width: 420px;
}

.photo-grid {
  overflow: scroll;
  overflow-x: hidden;
  width: 420px;
  height: 800px;
}

.photo-content {
  max-height: 292px;
}